---
layout: default
title: Speakers
---

<section id="masthead-sm" class="sub-header multi-poly">
  <div class="container">
    <div class="row">
      <h2>Speakers</h2>
      <h3>Nov. 14-15, 2015</h3>
      <h4><a href="https://www.eventbrite.ca/e/full-stack-torontos-fstoconf15-presented-by-telus-tickets-15670397581" class="btn btn-success btn-lg">Limited Tickets Left Buy Now!</a></h4>
    </div>
  </div>
</section>

<section id="speakers">
  <div class="container">
    <div class="row col-md-12">
      <p>We're putting together a fully stacked set of speakers. Take a few moments to get to know them before the conference so you can optimize your experience to take in as much as possible! We will be updating this page as more speakers are announced.</p>
    </div>

    {% for speaker in site.data.speakers.items %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if thecycle == 'even' %}
        <div class="row">
      {% endif %}
        <article class="speaker col-md-6">
          <img src="https://s3.amazonaws.com/eventmobi-assets/eventsbyids/9565/people/{{ speaker.image100 }}" alt="{{ speaker.first_name }} Headshot"/>
          <h3 id="{{this.name.first}}-{{this.name.last}}">{{ speaker.first_name }}</h3>
          {% if speaker.title %}
            <h4 class="code">{{ speaker.title }}</h4>
          {% endif %}
          {% if speaker.twitter %}
            <h4><a class="twitter-follow-button" href="https://twitter.com/{{ speaker.twitter }}" data-show-count="false" data-lang="en">{{ speaker.twitter }}</a></h4>
          {% endif %}
          <!--
          <h4 class="code">{{this.location.suburb}}, {{this.location.state}}, {{this.location.country}}</h4>
          -->

          {{ speaker.about }}
        </article>
      {% if thecycle == 'even' %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
<script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
