<header id="home">
  <div class="container">
    <nav class="navigation">
        <ul>
          <li class="logo"><a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Full Stack Toronto" /></a></li>
          <li><a href="/">Welcome</a></li>
          <li><a href="#programs">Our Programs</a></li>
          <li><a href="#donate">Sponsor Us</a></li>
        </ul>
    </nav>
    <div class="title">
      <h2>PROGRAMS FOR DEVELOPERS TO ADVANCE THEIR CAREER AND GIVE BACK TO THE COMMUNITY!</h2>
      <p class="buttons-area"><a href="#programs" class="clear-btn">Learn More</a> <a href="#sponsor" class="white-btn">Sponsor Us</a></p>
    </div>
  </div>
</header>
