<header class="big multi-poly">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>#fstoco 2016</h1>
				<h2>The conference for web professionals!</h2>
				<h3>Oct 17-18th, 2016</h3>
				<h3>Sheraton Centre | Toronto, Canada</h3>
			</div>
		</div>
		<div id="information-bar">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 left">
						<h4>What's Included</h4>
						<ul>
							<li>Two days filled with sessions and assisted networking</li>
							<li>Mobile app for planning your schedule, meeting: exhibitors, sponsors, and attendees!</li>
							<li>Cocktail Reception with a free drink and appetizers!</li>
							<li>Lunch on both days with lots of coffee, tea and water!</li>
							<li>Preferred rate at host hotel, travel discounts</li>
							<li>Dedicated zone for nursing, wellness and spiritual activities</li>
							<li>Non-binary washrooms and wheelchair accessible</li>
						</ul>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 right">
						<a class="btn btn-success btn-lg" href="#" target="_blank"><i class="fa fa-ticket"></i>
							<span>Sold Out!</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
