<!-- <section id="sponsors-title" class="green-poly">
  <div class="container">
    <div class="row col-md-12">
      <h2>Partners &amp; Sponsors</h2>
    </div>
  </div>
</section>
<section id="sponsors">

  <div class="container">
    <div class="row col-md-12">
      <p>Want to help us help others? Visit the <a href="/sponsor">sponsor page</a> to learn more about our opportunities.</p>
    </div>
    {{#each sponsors}}
    {{#if this}}
    <div id="{{toLowerCase @key}}" class="row">
      {{#ifCond @key "Partners"}}
        <h2>{{@key}}</h2>
      {{else}}
        {{#ifCond @key "Presenting"}}
          <h2>{{@key}} Sponsor</h2>
          {{else}}
          <h2>{{@key}} Sponsors</h2>
        {{/ifCond}}
      {{/ifCond}}

      {{#each this}}
      <div class="sponsor">
        <a href="{{this.website}}" rel="external"><img src="{{this.logo.secure_url}}"></a>
      </div>
      {{/each}}
    </div>
    {{/if}}
    {{/each}}
  </div>
</section>
 -->
<footer>
  <div class="container">
    <div class="row col-md-12">
      &copy; 2015 Full Stack Toronto - Canadian Federal Non-Profit #8992240 | <a href="/speak">Submit a Talk</a> | <a href="/press">Press</a> | <a href="/code-of-conduct">Code of Conduct</a>
    </div>
  </div>
</footer>
