{% assign groups = site.data.sponsors.items | map: 'group_ids' | join: ',' %}

<section id="sponsors-title" class="green-poly">
  <div class="container">
    <div class="row col-md-12">
      <h2>Partners &amp; Sponsors</h2>
    </div>
  </div>
</section>
<section id="sponsors">

  <div class="container">
    <div class="row col-md-12">
      <p>Want to help us help others? Visit the <a href="/sponsor">sponsor page</a> to learn more about our opportunities.</p>
    </div>
    {% for group in site.data.sponsors.groups %}
      {% if groups contains group.id %}
        <div id="{{ group.name | downcase }}" class="row">
          {% if group.name == "Partner" %}
            <h2>Partners</h2>
          {% else %}
            {% if group.name == "Presenting" %}
              <h2>{{ group.name }} Sponsor</h2>
            {% else %}
              <h2>{{ group.name }} Sponsors</h2>
            {% endif %}
          {% endif %}

          {% for sponsor in site.data.sponsors.items %}
            {% if sponsor.group_ids contains group.id %}
              <div class="sponsor">
                <a href="{{ sponsor.name }}" rel="external"><img src="https://s3.amazonaws.com/eventmobi-assets/eventsbyids/9565/exhibitors/{{ sponsor.logo_large_wide }}"></a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

<footer>
  <div class="container">
    <div class="row col-md-12">
      &copy; 2015 Full Stack Toronto - Canadian Federal Non-Profit #8992240 | <a href="/speak">Submit a Talk</a> | <a href="/press">Press</a> | <a href="/code-of-conduct">Code of Conduct</a>
    </div>
  </div>
</footer>
