@mixin transition-all()
{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin button-variant($color, $background, $border)
{
	color: $color;
	background-color: $background;
	border-color: $border;
	@include transition-all;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		color: $color;
		background-color: darken($background, 5%);
    border-color: darken($border, 7%);
	}
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

@mixin sans-serif-font()
{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin blenda()
{
	font-family: "web_blenda","Palatino Linotype","Book Antiqua",Palatino,serif;
}


@mixin serif-font()
{
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

// Fonts

@font-face {
    font-family: 'web_blenda';
    src: url('/fonts/blenda_script-webfont.eot');
    src: url('/fonts/blenda_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/blenda_script-webfont.woff2') format('woff2'),
         url('/fonts/blenda_script-webfont.woff') format('woff'),
         url('/fonts/blenda_script-webfont.ttf') format('truetype'),
         url('/fonts/blenda_script-webfont.svg#blenda_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'web_homestead';
    src: url('/fonts/homestead-inline-webfont.eot');
    src: url('/fonts/homestead-inline-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/homestead-inline-webfont.woff2') format('woff2'),
         url('/fonts/homestead-inline-webfont.woff') format('woff'),
         url('/fonts/homestead-inline-webfont.ttf') format('truetype'),
         url('/fonts/homestead-inline-webfont.svg#homestead_inlineinline') format('svg');
    font-weight: normal;
    font-style: normal;
}
