{% assign current = page.url | remove: "index.html" %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  	{% include nav.html %}
  	<header class="big multi-poly">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>#fstoco</h1>
					<h2>A conference focusing on all layers of the web and the people behind them!</h2>
					<h3>Oct 17-18th, 2016</h3>
					<h3>Toronto, Canada</h3>
					<p><a class="btn btn-success btn-lg">Buy Tickets!</a></p>
				</div>
			</div>
		</div>
	</header>
    {{ content }}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>